<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>boost_filesystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>boost_python.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>boost_regex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>boost_system.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA563C3014D39CC000D4A91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9CD1E9141FCD7A0064C27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9CD58C141FCFCD0064C27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9CD595141FCFD70064C27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9CD59E141FCFE00064C27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
