# Screen resolution, width x height
win-size 1024 768

# win-origin dictates how many pixels away from the top left corner the
# window is created. Only applicable if not in fullscreen!
# Can take negative values for multi screen computers
win-origin 30 30

# Name of the window that panda creates
window-title BML Realizer

# Fullscreen or not
fullscreen 0

# Network settings
TcpPort 15102
UdpPort 15100

# SmartBody config
SbmAutoStart 1
SbmPath ..\smartbody\sbgui\bin\
SbmBin sbgui.exe
SbmArgs -host=localhost -fps=60 -scriptpath sbm-common\scripts
SbmInitSeq default-init-empty.py


# Misc settings
DefaultPawnModel Content/Pawn.egg
ClassDir Classes/

# Sets the size of the chat bubbles
ChatBubbleScale 5

# Sets the chat bubble left to right offset
ChatBubbleOffsetY 20

# Sets the chat bubble height offset
ChatBubbleOffsetZ 0

# Sets the size of the name plates
NamePlateScale 6

framebuffer-multisample 1
multisamples 16

# Speech synth test
SpeechOn 0
SpeechPath Speech\
SpeechBin loq.exe
SpeechArgs 

# Gathers stats. Requires instrumenting the Python code
#task-timer-verbose 1
#want-pstats 1
